@{
    ViewData["Title"] = "Strona Główna";
}

<div class="container mt-4">
    <h2 class="display-4 text-primary">Portal Wypożyczalni Sprzętu</h2>

    <p class="lead">Witaj na naszym portalu! Umożliwiamy szybkie i wygodne rezerwowanie oraz wypożyczanie sprzętów sportowych na każdą okazję.</p>
    <p>Oferujemy szeroki wybór rowerów, hulajnóg i wiele innych. Wybierz sprzęt, zarezerwuj go online i odbierz w wybranym punkcie.</p>

    <div class="row mt-4">
        <div class="col-md-4">
            <img src="~/images/bike.jpg" alt="Rower" class="img-fluid rounded shadow-sm">
        </div>
        <div class="col-md-4">
            <img src="~/images/scooter.jpg" alt="Hulajnoga" class="img-fluid rounded shadow-sm">
        </div>
        <div class="col-md-4">
            <img src="~/images/gear.jpg" alt="Sprzęt sportowy" class="img-fluid rounded shadow-sm">
        </div>
    </div>
</div>
