@{
    ViewData["Title"] = "Polityka Prywatności";
}

<div class="container mt-4">
    <h2>Polityka prywatności</h2>
    <partial name="_RODO" />
    <hr />
    <partial name="_CookiePolicy" />
</div>